.modal-overlay {
  z-index: 99;
  position: fixed;
  /* top: 0px; */
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 0vh;
  /* background-color: aqua; */
  /* background-color: rgba(0,0,0,0.5); */
  background-color: transparent;
  transition: all 0s linear;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  .modal-panel {
    position: relative; /* kako bi on bio koordinatni sitem za childrene koji su position:absolute */
    position: absolute;
    bottom: -300px;
    left: 0px;
    right: 0px;
    width: 480px;
    height: 300px;
    background-color: white;
    border-radius: 6px;
    margin: auto;
    transition: all 0.3s ease;

    @media screen and (max-width: 640px) {
      .modal-panel {
        /* margin-right: 10px; */
        width: 90%;
      }
    }

    .modal-close {
      position: absolute;
      top: 10px;
      right: 10px;

      width: 30px;
      height: 30px;
      background-color: black;
      border-radius: 100px;
      color: white;
      text-align: center;
      line-height: 30px;
      font-size: 30px;
      cursor: pointer;
    }

    .modal-content {
      outline: 1px dashed red;
      padding: 30px;
    }
  }
}

.modal-opened .modal-overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  transition: height 0s linear, background-color 0.3s ease;

  .modal-panel {
    bottom: 200px;
    height: auto;
    min-height: 480px;
    transition: all 0.3s ease, width 0s linear;
  }
  @media screen and (max-width: 640px) {
    .modal-panel {
      /* margin-right: 10px; */
      bottom: -10px;
      width: 90%;
    }
  }
}
