* {
  box-sizing: border-box;
  transition: all 0.2s ease;
}

html {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

body {
  color: black;
  color: red;
  margin: 0px;
  padding: 0px;
}


.comment-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;

  padding: 1rem;

  .comment-item {
    border: 1px solid gray;
    border-radius: 6px;
    margin-bottom: 1rem;
    padding: 0.5rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;

    >* {
      margin-right: 1rem;
    }
  }
}

